* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: solid 2px red; */
}

*:before,
*::after {
   box-sizing: inherit;
 }

body {
  width: 100vw;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;  /* 16px = 1rem */}

/* .ul-list > * {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
} */
/* .ul-list .list-item-text {
  padding: 10px 12px;
} */
a.link {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
}
a.link-icon {
  font-size: 20px;
  line-height: calc(40px - 16px);
}
.hr-bar {
  width: 100%;
  border: none;
  height: 0.25px;
  background-color: #212121;
}
.box-join-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.box-join-title .hr-bar {
  margin-top: 24px;
}
.section-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #FFF5E1;
}
.description-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #FFF5E1;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
}
.top-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3E3C3C;
  height: 100%;
}
.logo {
  font-weight: bold;
  color: #fff;
}
/* .menu-list {
  display: none;
} */

#menu {
  display: none;
  font-family: poppins, sans-serif;
  font-size: 2em;
  font-weight: bold;
  background-color: #3E3C3C;
  transition: 0.2s 0.1s;
  position: relative;
   text-align: center;
  list-style: none;
  line-height: 4em;
  color:

}

#menu.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation: muestraMenu 350ms ease-in-out both;
  transition: 0.2s 0.1s;
  justify-content: center;
  height: 70vh;
  width: 100vw;
  color: white;
  background-color: #3E3C3C;
  top: 60px;
  left: 0;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px black;
}

.link {
  color: #fff;
}

#ham,
.menu-icon {
  display: flex;
  flex-direction: column;
  width: 10%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.bar-1,
.bar-2,
.bar-3 {
  color: white;
  background-color: #fff;
  height: 2px;
  width: 1.6em;
  margin: 15%;
  border-radius: 2px;
  transition: 0.2s 0.1s;
}

.br-1.animated {
  transform: rotate(-45deg) translate(-10px, 2px) scale(1.5);
}

.br-2.animated {
  opacity: 0;
}

.br-3.animated {
  transform: rotate(45deg) translate(-10px, -2px) scale(1.5);
}

li > a:visited,
li > a:link,
li > a:active {
  text-decoration: none;
  color: #fff;

@media screen and (min-width: 992px) {
  .box-join-title {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }
  .box-join-title .hr-bar {
    margin-top: 0;
  }
  .top-navbar {
    padding: 16px 100px;
  }
  .top-navbar .menu-list {
    display: flex;
  }
  .top-navbar .menu-icon {
    display: none;
  }
  .page-section {
    padding: 100px 100px;
  }
  .bottom-navigator .hr-bar {
    display: none;
  }
  @keyframes colorChange {
    0% {
      color: white;
    }
    100% {
      color: #F55800;
    }
  }
  @keyframes textChange {
    0% {
      font-size: 14px;
    }
    100% {
      font-size: 20px;
    }
  }
  @keyframes scaleUp {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
    }
  }
}